# Twitter Developer App (https://developer.twitter.com)
# Create an app with OAuth 2.0 enabled
# Set callback URL to: http://localhost:3001/auth/twitter/callback
TWITTER_CLIENT_ID=your_twitter_client_id_here
TWITTER_CLIENT_SECRET=your_twitter_client_secret_here
TWITTER_CALLBACK_URL=http://localhost:3001/auth/twitter/callback

# RapidAPI (https://rapidapi.com)
RAPIDAPI_KEY=your_rapidapi_key_here

# Session
SESSION_SECRET=change_this_to_a_random_secret_string

# URLs
FRONTEND_URL=http://localhost:5173
PORT=3001
